body {}

/* Top Banner */
.top-banner {
    background-color: #fcebea;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    text-decoration: none;
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

/* catagories */
.bg-watch {
    background-color: #ffc107;
}

.bg-bag {
    background-color: #198754;
}

.bg-shoes {
    background-color: #0d6efd;
}